<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    </style>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Home</title>
</head>

<body>
    <section class="flex">
        <div class="md:max-w-7xl md:mx-auto w-screen p-4">

            <!-- logo area -->
            <section class="w-full py-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Master_Logo_-_Qlue_Corporate.png" alt=""
                    class="h-8 mx-auto">
            </section>
            <!-- End logo area -->

            <!-- Welcome -->
            <section class="py-2">
                <div class="font-semibold font-title text-slate-500 text-xs">Welcome</div>
                <div class="font-body font-extralight text-2xl text-slate-800">Syidh Al Rasyid</div>
            </section>
        </div>
    </section>


</body>

</html>