<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    </style>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <section class="absolute h-screen w-screen">
        <div class="flex h-screen">
            <div class="flex h-screen w-screen md:px-5 px-5">
                <!-- main box -->
                <div class="bg-white space-y-8 dark:bg-gray-800 my-auto mx-auto p-6 rounded-3xl md:w-xl w-full">
                    <div class="space-y-4">

                        <div class=" space-y-1">
                            <div class="font-title font-semibold text-slate-800 dark:text-white">Your Name</div>
                            <input type="text" name="" id=""
                                class="text-slate-800 dark:text-white dark:border-slate-950 bg-slate-50 dark:bg-slate-900 border font-body font-light p-2 rounded-xl w-full text-sm border-slate-300"
                                placeholder="What's your name?">
                        </div>

                        <div class=" space-y-1">
                            <div class="font-title font-semibold text-slate-800 dark:text-white">Room Number</div>
                            <input type="text" name="" id=""
                                class="text-slate-800 dark:text-white border bg-slate-50  dark:border-slate-950 dark:bg-slate-900 font-body font-light p-2 rounded-xl w-full text-sm border-slate-300"
                                placeholder="My Room Number?">
                        </div>
                    </div>

                    <div>
                        <a href="#">
                            <div class="p-2 font-title rounded-md text-center bg-brand text-white">Login</div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end main box -->
        </div>
        </div>
    </section>
    <section>
        <!-- background -->
        <div><img src="https://images.pexels.com/photos/3225531/pexels-photo-3225531.jpeg"
                class="w-screen h-screen object-cover" alt=""></div>
        <!-- end background -->
    </section>

</body>

</html>